body{
    background-color: black;
    font-family: cursive;
}
h1{
    color: aqua;
    text-align: center;
}
h2{
    color: aqua;
    text-align: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* align-items: center; */
    background-color: black;
    color: aqua;
}
#jedi{
    background-color: black;
    color: aqua;
    height: 20%;
    font-size: 5em;
    font-family: cursive;
}